body {
background: rgb(24, 23, 105);
font:normal 20pt Arial ;
}
header {
color: rgb(255, 255, 255);
text-align: center;
}

section {
background: rgb(27, 159, 192);
border-radius:  10px;
padding: 15px;
width: 500px;
margin: auto ;
box-shadow: 9px 9px 10px rgb(44, 40, 40);
}
footer {
    color: white;
 text-align: center;
 font-style: italic ;
}
